In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_excel("numbers.xlsx")

In [5]:
data["Numbers"]

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Numbers, dtype: int64

In [24]:
for i in data["Numbers"]:
    if i % 2 == 0:
        print(f"Even Number: {i}")
    else:
        print(f"odd number: {i}")

    if i <= 1:
      print(f"{i} is not a prime number.")
    else:
      is_prime = True
    for j in range(2, i):
        if i % j == 0:
            is_prime = False
            break

    if is_prime:
        print(f"{i} is a prime number.")
    else:
        print(f"{i} is not a prime number.")

    print("***************************")

sum_of_digits=0
for i in range(11):
  digit = i % 10  # Get the last digit
  sum_of_digits += digit  # Add the digit to the sum
  i //= 10

print(sum_of_digits)

odd number: 1
1 is not a prime number.
1 is not a prime number.
***************************
Even Number: 2
2 is a prime number.
***************************
odd number: 3
3 is a prime number.
***************************
Even Number: 4
4 is not a prime number.
***************************
odd number: 5
5 is a prime number.
***************************
Even Number: 6
6 is not a prime number.
***************************
odd number: 7
7 is a prime number.
***************************
Even Number: 8
8 is not a prime number.
***************************
odd number: 9
9 is not a prime number.
***************************
Even Number: 10
10 is not a prime number.
***************************
45

In [16]:

len(data["Numbers"])

10

47